<template>
  <v-select
    v-model="localSelected"
    :items="items"
    item-text="text"
    item-value="days"
    hide-details
    :label="$t(path + '_delay')"
    dense
  ></v-select>
</template>

<script>
import { mapSync } from '~/helpers/methods'
export default {
  props: {
    selected: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      path: 'components.autocompletes.delayDays.'
    }
  },
  computed: {
    ...mapSync({ localSelected: 'selected' }),
    items() {
      return [
        { days: -1, text: this.$t(this.path + '_all') },
        { days: 0, text: this.$t(this.path + '_not_had_sent') },
        { days: 5, text: this.$t(this.path + '_5_days') },
        { days: 10, text: this.$t(this.path + '_10_days') },
        { days: 15, text: this.$t(this.path + '_15_days') },
        { days: 20, text: this.$t(this.path + '_20_days') },
        { days: 30, text: this.$t(this.path + '_30_days') },
        { days: 45, text: this.$t(this.path + '_45_days') },
        { days: 65, text: this.$t(this.path + '_65_days') },
        { days: 90, text: this.$t(this.path + '_90_days') }
      ]
    }
  }
}
</script>