<template>
  <v-col class="pa-0">
    <v-autocomplete
      v-model="model"
      :label="$t(path + '_user')"
      :items="items"
      :disabled="disabled"
      item-text="name"
      item-value="recId"
      autocomplete
      small-chips
      class="pa-0 ma-0"
    />
  </v-col>
</template>

<script>
import { mapSync } from '@/helpers/methods'
export default {
  props: {
    recId: {
      type: Number,
      default: 0
    },
    disabled: {
      type: Boolean,
      default: false
    },
    withAll: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      items: [],
      path: 'components.autocompletes.users.'
    }
  },
  computed: {
    ...mapSync({ model: 'recId' })
  },
  created() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      try {
        const items = (await this.$axios.get('/api/admin/users', { headers: { token: process.env.DES_BACK_TOKEN } }))
          .data
        if (this.withAll) {
          this.items.push({ recId: 0, name: 'All' })
        }
        items.forEach((el) => {
          this.items.push({
            recId: el.recId,
            name:
              el.nickName +
              ', ' +
              (el.person ? el.person[0].firstName + ' ' + el.person[0].lastName : el.hirer[0].descrip)
          })
        })
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>
