<template>
  <v-row class="ma-0" align="center" justify="center" style="position: relative">
    <v-col cols="1" />
    <v-col cols="1">
      <v-text-field v-model="plzs.from" hide-details :label="$t(path + '_from_plz')" />
    </v-col>
    <v-col cols="1">
      <v-text-field v-model="plzs.to" hide-details :label="$t(path + '_to_plz')" />
    </v-col>
    <v-col cols="2">
      <v-checkbox v-model="mobileDe" hide-details :label="$t(path + '_mobile_de_too')" />
    </v-col>
    <v-col cols="2">
      <delay-days :selected.sync="delayDays" />
    </v-col>
    <v-col cols="1" style="position: relative">
      <v-row class="ma-0 fill-height" justify="center" align="center">
        <v-btn large :class="items.length > maxForSend ? 'red' : 'green'" :loading="sending" @click="sendEmails()">
          {{ items.length }}<br />
          {{ 'max ' + maxForSend }}
        </v-btn>
        <v-card
          v-if="sending"
          width="100%"
          height="100%"
          style="position: absolute; top: 0; left: 0; opacity: 0.5; font-size: 2em"
          elevation="0"
        >
          <v-row class="ma-0 fill-height" justify="center" align="center">
            <b>{{ sents }}</b>
          </v-row>
        </v-card>
      </v-row>
    </v-col>
    <v-spacer />
    <v-col cols="4">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="$t(path + '_search')"
        hide-details
      ></v-text-field>
    </v-col>
    <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="15"
      :search="search"
      item-key="recId"
      single-select
      class="elevation-5"
      style="width: 100%"
    >
      <template #item="{ item }">
        <tr
          :key="item.recId"
          :class="selectedId === item.recId ? 'grey lighten-2' : ''"
          @click="selectedId = item.recId"
        >
          <td>{{ item.descrip }}</td>
          <td>{{ item.plz }}</td>
          <td>{{ item.email }}</td>
          <td class="error--text">{{ item.doNotDisturbDate && item.doNotDisturbDate.slice(0, 10) }}</td>
          <td>
            <v-row class="ma-0" style="width: 300px">
              <v-col class="pa-0 text-truncate">{{ item.dates }}</v-col>
            </v-row>
          </td>
          <td>{{ item.remark }}</td>
        </tr>
      </template>
    </v-data-table>
    <v-progress-circular
      v-if="loading"
      :indeterminate="loading"
      :width="loading ? 4 : 0"
      style="position: absolute"
      color="des_secondary"
    />
  </v-row>
</template>

<script>
import DelayDays from '~/components/autocompletes/delayDays'
export default {
  components: {
    DelayDays
  },
  data() {
    return {
      path: 'pages.byEmail.',
      plzs: { from: '00000', to: '99999' },
      mobileDe: false,
      delayDays: 0,
      maxForSend: 100,
      allItems: [],
      selectedId: null,
      search: '',
      loading: false,
      sending: false,
      sents: 0
    }
  },
  computed: {
    headers() {
      return [
        { value: 'descrip', text: this.$t(this.path + '_descrip'), divider: true },
        { value: 'plz', text: this.$t(this.path + '_plz'), divider: true },
        { value: 'email', text: this.$t(this.path + '_email'), divider: true },
        { value: 'doNotDisturbDate', text: this.$t(this.path + '_do_not_disturb'), divider: true },
        { value: 'emailLastSentDate', text: this.$t(this.path + '_email_sent_dates'), width: '300px', divider: true },
        { value: 'remark', text: this.$t(this.path + '_remark'), divider: true }
      ]
    },
    items() {
      return this.allItems.filter((item) => this.filter(item))
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      this.loading = true
      try {
        const items = (await this.$axios.get('/api/admin/byEmail', { headers: { token: process.env.DES_BACK_TOKEN } }))
          .data
        this.allItems = []
        items.forEach((elem) => {
          const dates = elem.emailDates || []
          dates.forEach((date) => {
            if (!elem.emailLastSentDate) elem.emailLastSentDate = date
            if (!elem.dates) {
              elem.dates = date.slice(0, 10)
            } else {
              elem.dates += ', ' + date.slice(0, 10)
            }
          })
        })
        this.allItems = items
      } catch (err) {
        console.error('Error:', err)
      } finally {
        this.loading = false
      }
    },
    filter(item) {
      const isMobileDe = item.email.endsWith('@mobile.de')
      return (
        item.email &&
        this.$vr.email[0](item.email) === true &&
        (this.mobileDe || (!this.mobileDe && !isMobileDe)) &&
        item.plz >= this.plzs.from &&
        item.plz <= this.plzs.to &&
        (this.delayDays === -1 ||
          (this.delayDays === 0 && !item.emailLastSentDate) ||
          (this.delayDays > 0 &&
            (!item.emailLastSentDate ||
              Date.now() - new Date(item.emailLastSentDate) > this.delayDays * 1000 * 60 * 60 * 24)))
      )
    },
    async sendEmails() {
      if (this.sending || this.items.length > this.maxForSend) return
      this.sending = true
      const receivers = this.items
      const len = receivers.length
      this.sents = 0
      try {
        for (let i = 0; i < len; i++) {
          const receiver = receivers[i]
          if (receiver.email && !receiver.doNotDisturbDate) {
            const date = (
              await this.$axios.post(
                '/api/admin/sendEmail',
                {
                  recId: receiver.recId,
                  descrip: receiver.descrip,
                  email: receiver.email
                },
                { headers: { token: process.env.DES_BACK_TOKEN, inner: this.$inner } }
              )
            ).data[0].date
            if (!receiver.dates) {
              receiver.dates = date.slice(0, 10)
            } else {
              receiver.dates = date.slice(0, 10) + ', ' + receiver.dates
            }
            const recId = receiver.recId
            receiver.recId = 0
            receiver.recId = recId
            this.sents += 1
          }
        }
      } catch (err) {
        console.error('Error:', err)
      } finally {
        this.sending = false
      }
    }
  }
}
</script>
