<template>
  <v-row class="ma-0" align="center" justify="center" style="position: relative">
    <v-spacer />
    <v-col cols="4">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        :label="$t(path + '_search')"
        single-line
        hide-details
      ></v-text-field>
    </v-col>
    <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="15"
      :search="search"
      item-key="recId"
      single-select
      class="elevation-5"
      style="width: 100%"
    >
      <template #item="{ item }">
        <tr :class="selectedId === item.recId ? 'grey lighten-2' : ''" @click="selectedId = item.recId">
          <td>{{ item.name }}</td>
          <td>{{ item.plz }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.phone1 }}</td>
          <td>{{ item.phone2 }}</td>
          <td>{{ item.familyName }}</td>
          <td class="text-no-wrap">{{ item.date }}</td>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <td style="cursor: pointer" class="text-no-wrap" @click="openEditViewDialog(item, 'view')" v-on="on">
                <endorse :disabled="true" :value="item.endorsed" />
              </td>
            </template>
            <span>{{ $t(path + '_view') }}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template #activator="{ on }">
              <td style="width: 250px; cursor: pointer" @click="openEditViewDialog(item, 'edit')" v-on="on">
                <div style="width: 250px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                  {{ item.remark }}
                </div>
              </td>
            </template>
            <span>{{ $t(path + '_edit') }}</span>
          </v-tooltip>
          <td>
            <v-row class="ma-0 flex-nowrap">
              <v-icon @click="openEditViewDialog(item, 'full')">mdi-content-copy</v-icon> {{ item.email }}</v-row
            >
          </td>
        </tr>
      </template>
    </v-data-table>
    <edit-view-dialog
      :show.sync="editViewDialogShow"
      :handler="currentItem || {}"
      :action="action"
      @update-changes="updateChanges"
    />
    <v-progress-circular
      v-if="loading"
      :indeterminate="loading"
      :width="loading ? 4 : 0"
      style="position: absolute"
      color="des_secondary"
    />
  </v-row>
</template>

<script>
import EditViewDialog from './editViewDialog'
import Endorse from '~/components/checkboxes/tripleBox'

export default {
  components: {
    Endorse,
    EditViewDialog
  },
  data() {
    return {
      path: 'pages.byWhatsapp.',
      items: [],
      selectedId: null,
      search: '',
      currentItem: null,
      action: 'edit',
      editViewDialogShow: false,
      loading: false
    }
  },
  computed: {
    headers() {
      return [
        { value: 'name', text: this.$t(this.path + '_name'), divider: true },
        { value: 'plz', text: this.$t(this.path + '_plz'), divider: true },
        { value: 'city', text: this.$t(this.path + '_city'), divider: true },
        { value: 'phone1', text: this.$t(this.path + '_phone1'), divider: true },
        { value: 'phone2', text: this.$t(this.path + '_phone2'), divider: true },
        { value: 'familyName', text: this.$t(this.path + '_family_name'), divider: true },
        { value: 'date', text: this.$t(this.path + '_last_date'), divider: true },
        { value: 'endorsed', text: this.$t(this.path + '_endorsed'), divider: true },
        { value: 'remark', text: this.$t(this.path + '_remark'), divider: true },
        { value: 'email', text: this.$t(this.path + '_email'), divider: true }
      ]
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      this.loading = true
      try {
        const items = (
          await this.$axios.get('/api/admin/byWhatsapp', { headers: { token: process.env.DES_BACK_TOKEN } })
        ).data
        items.forEach(
          (item) => (item.date = item.lastDate && item.lastDate.date ? item.lastDate.date.slice(0, 10) : '')
        )
        this.items = items
      } catch (err) {
        console.error('Error:', err)
      } finally {
        this.loading = false
      }
    },
    filter(value, search, item) {
      return true
    },
    openEditViewDialog(item, action) {
      this.action = action
      this.currentItem = item
      this.editViewDialogShow = true
    },
    updateChanges(options) {
      const item = this.items.find((item) => item.recId === options.recId)
      if (item) {
        delete options.recId
        Object.keys(options).forEach((key) => (item[key] = options[key]))
        item.date = item.lastDate && item.lastDate.date ? item.lastDate.date.slice(0, 10) : ''
      }
    }
  }
}
</script>
