<template>
  <v-row class="ma-0">
    <v-col v-if="item.stage < $stages.ask_break || item.stage === $stages.FILLED" cols="12" class="pa-0" />
    <v-col v-else-if="!item.stars" cols="12" class="pa-0">
      <v-row class="ma-0" justify="end">
        <v-col cols="10" class="pa-0">
          <v-btn block :disabled="disabled" :loading="sending" @click="sendReminderEmail()">{{ btnDescrip }}</v-btn>
        </v-col>
      </v-row>
    </v-col>
    <v-col v-else cols="6" class="pa-0">
      <v-row class="ma-0" justify="space-around">
        <v-icon>mdi-check</v-icon>
        <span> : </span>
        <v-icon v-if="item.reason">mdi-check</v-icon>
        <v-icon v-else>mdi-minus</v-icon>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.orders.feedback.',
      DELAY_DAYS: 10,
      sending: false
    }
  },
  computed: {
    daysAfterLastReminderDate() {
      return (
        this.item.feedbackLastReminderDate &&
        Math.floor((Date.now() - new Date(this.item.feedbackLastReminderDate)) / (1000 * 60 * 60 * 24))
      )
    },
    disabled() {
      return this.item.feedbackLastReminderDate && this.daysAfterLastReminderDate < this.DELAY_DAYS
    },
    btnDescrip() {
      let rtrn
      if (this.item.feedbackLastReminderDate) {
        const days = this.daysAfterLastReminderDate
        rtrn = !days ? this.$t(this.path + '_today') : days + ' ' + this.$t(this.path + '_days_ago')
      } else {
        const days = Math.floor((Date.now() - new Date(this.item.changeTime)) / (1000 * 60 * 60 * 24))
        rtrn = days + ', ' + this.$t(this.path + '_not_yet')
      }
      return rtrn
    }
  },
  methods: {
    async sendReminderEmail() {
      this.sending = true
      const params = {
        email: this.item.ordererEmail,
        ordererNickName: this.item.ordererNickName,
        orderId: this.item.orderId,
        plz: this.item.plz,
        level: this.item.level,
        speed: this.item.speed,
        responseId: this.item.recId,
        testerNickName: this.item.testerNickName,
        date: this.item.changeTime.slice(0, 10)
      }
      try {
        const result = await this.$axios.post('/api/admin/sendFeedbackReminderEmail', params, {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
        const value = result.data[0].date
        this.$emit('update-item', { item: this.item, property: 'feedbackLastReminderDate', value })
      } catch (err) {
        console.error('error at sendFeedbackReminderEmail:', err, err.stack)
      } finally {
        this.sending = false
      }
    }
  }
}
</script>