<template>
  <v-row class="ma-0" align="center" justify="center" style="position: relative">
    <v-col class="pa-0" cols="1" />
    <v-col class="pa-0" cols="3">
      <v-select
        v-model="selectedStatus"
        :items="[
          'untilChoice',
          'work',
          'waitInvoice',
          'open',
          'divider',
          'noMoney',
          'invoiced',
          'noInvoiced',
          'annulled',
          'closed'
        ]"
        :label="$t(path + '_status')"
        hide-details
      >
        <template #selection="{ item }"> {{ $t(path + '_' + item) }} </template>
        <template #item="{ item }">
          <v-divider v-if="item === 'divider'" />
          <span v-else>{{ $t(path + '_' + item) }}</span>
        </template>
      </v-select>
    </v-col>
    <v-col class="pa-0" cols="2" />
    <v-col class="pa-0" cols="6">
      <v-text-field
        v-model="search"
        dense
        append-icon="mdi-magnify"
        :label="$t(path + '_search')"
        hide-details
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :search="search"
        :items-per-page="15"
        single-select
      >
        <template #item="{ item }">
          <tr :class="isSelected(item) ? 'des_grey1ED2' : ''" @click="selected = [item]">
            <td class="text-xs-left">
              <b>{{ item.orderId }}</b>
            </td>
            <td class="text-xs-left">{{ item.ordererNickName }}</td>
            <td class="text-xs-left">
              <v-col class="pa-0" cols="12">
                <v-row class="ma-0"> {{ item.ordererPhoneNumber }} </v-row>
                <v-row class="ma-0"> {{ item.ordererCalledPhoneNumber }} </v-row>
              </v-col>
            </td>
            <td class="text-xs-left">
              <b>{{ item.recId }}</b>
            </td>
            <td class="text-xs-left">{{ item.testerNickName }}</td>
            <td class="text-xs-left">
              <v-col class="pa-0" cols="12">
                <v-row class="ma-0"> {{ item.testerPhoneNumber }} </v-row>
                <v-row class="ma-0"> {{ item.testerCalledPhoneNumber }} </v-row>
              </v-col>
            </td>
            <td class="text-center" @click="openViewDialog(item)">
              <offer v-if="item.stage < $stages.CHOICED" :stage="item.recId && item.stage" />
              <remain v-else :item="item" />
            </td>
            <td class="text-xs-left">
              <b>{{ item.time }}</b>
            </td>
            <td class="text-xs-left">{{ item.level }}</td>
            <td class="text-xs-left">{{ item.speed }}</td>
            <td class="text-xs-left">
              <feedback :item="item" @update-item="updateItem" />
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-col>
    <view-dialog v-if="showViewDialog" :show.sync="showViewDialog" :item="selected[0]" />
    <v-progress-circular
      v-if="loading"
      :indeterminate="loading"
      :width="loading ? 4 : 0"
      style="position: absolute"
      color="des_secondary"
    />
  </v-row>
</template>

<script>
import Feedback from './feedback'
import Offer from './offer'
import Remain from './remain'
import ViewDialog from './viewDialog'

export default {
  components: {
    Offer,
    Remain,
    ViewDialog,
    Feedback
  },
  data() {
    return {
      path: 'pages.orders.',
      selectedStatus: 'open',
      items: [],
      selected: [{}],
      search: '',
      showViewDialog: false,
      loading: false
    }
  },
  computed: {
    headers() {
      return [
        { text: 'orderID', value: 'orderId', divider: true },
        { text: this.$t(this.path + '_orderer'), value: 'ordererNickName', divider: true },
        { text: this.$t(this.path + '_phone'), value: 'ordererPhoneNumber', divider: true },
        { text: 'resp.ID', value: 'recId', divider: true },
        { text: this.$t(this.path + '_tester'), value: 'testerNickName', divider: true },
        { text: this.$t(this.path + '_phone'), value: 'testerPhoneNumber', divider: true },
        { text: this.$t(this.path + '_stage'), value: 'stage', divider: true },
        { text: this.$t(this.path + '_time'), value: 'time', divider: true },
        { text: this.$t(this.path + '_level'), value: 'level', divider: true },
        { text: this.$t(this.path + '_speed'), value: 'speed', divider: true },
        { text: this.$t(this.path + '_feedback_reminder'), value: 'feedbackLastReminderDate', divider: true }
      ]
    },
    isSelected() {
      const selected = this.selected[0]
      return (item) => {
        return item.orderId === selected.orderId && item.recId === selected.recId
      }
    }
  },
  watch: {
    selectedStatus() {
      this.updateFromDB()
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    getTime(time) {
      const tm = new Date(time)
      const rtrn =
        ('0' + (tm.getMonth() + 1)).slice(-2) +
        '/' +
        ('0' + tm.getDate()).slice(-2) +
        '-' +
        ('0' + tm.getHours()).slice(-2) +
        ':' +
        ('0' + tm.getMinutes()).slice(-2)
      return rtrn
    },
    getItem(elem) {
      const rtrn = Object.assign({}, elem)
      rtrn.time = this.getTime(elem.changeTime)
      return rtrn
    },
    async updateFromDB() {
      this.loading = true
      try {
        this.items = []
        const query = `?status=${this.selectedStatus}`
        const result = await this.$axios.get('/api/admin/orders' + query, {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
        result.data.forEach((elem) => {
          this.items.push(this.getItem(elem))
        })
      } catch (err) {
        console.error('error at orders:', err, err.stack)
      } finally {
        this.loading = false
      }
    },
    async openViewDialog(item) {
      if (!item.recId) {
        this.loading = true
        try {
          const query = `?orderId=${item.orderId}`
          const result = await this.$axios.get('/api/admin/order' + query, {
            headers: { token: process.env.DES_BACK_TOKEN }
          })
          const indexOf = this.items.indexOf(item)
          this.items.splice(indexOf, 1)
          result.data.forEach((elem, index) => {
            this.items.splice(indexOf + index, 0, this.getItem(elem))
          })
        } catch (err) {
          console.error('error at orders:', err, err.stack)
        } finally {
          this.loading = false
        }
      } else {
        this.showViewDialog = true
      }
    },
    updateItem(options) {
      options.item[options.property] = options.value
    }
  }
}
</script>
