<template>
  <v-btn
    small
    :class="backgroundColor"
    :style="'position: relative; width: ' + width + 'px; text-transform: none'"
    rounded
  >
    <v-row class="mr-n2" :justify="justify" align="center">
      <v-icon v-if="stage !== null" :class="color + '--text'"> mdi-circle </v-icon>
    </v-row>
    <!-- {{ stage }} -->
  </v-btn>
</template>

<script>
export default {
  props: {
    stage: {
      validator: (val) => !val || typeof val === 'number',
      required: true
    }
  },
  data() {
    return {
      width: 50
    }
  },
  computed: {
    color() {
      const stageForColor = this.stage < this.$stages.CHOICED ? this.stage : this.$stages.CHOICED
      return this.$stageColor(stageForColor)
    },
    backgroundColor() {
      const stageForColor = this.stage < this.$stages.CHOICED ? this.stage : this.$stages.CHOICED
      return this.$stageBGColor(stageForColor)
    },
    justify() {
      let justify = 'start'
      if (this.stage >= this.$stages.CHOICED) {
        justify = 'center'
        return justify
      }
      if (this.stage === this.$stages.OFFERED) {
        justify = 'end'
      }
      return justify
    }
  }
}
</script>
