<template>
  <v-dialog v-model="showLocal" :width="width" persistent>
    <v-card>
      <v-card-title>{{ $t(path + '_exit_without_saving?') }}</v-card-title>
      <v-card-text>
        {{ $t(path + '_exit_without_saving_text') }}
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn class="mr-3" @click="showLocal = false">
          {{ $t(path + '_cancel') }}
        </v-btn>
        <v-btn @click="okClick">
          {{ $t(path + '_ok') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapSync } from '@/helpers/methods'

export default {
  props: {
    show: {
      type: Boolean,
      required: true
    },
    confirm: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.userParams.editViewDialog.cancelConfirmation.'
    }
  },
  computed: {
    ...mapSync({ showLocal: 'show', confirmLocal: 'confirm' }),
    width() {
      return window.innerWidth < 600 ? '100%' : '40%'
    }
  },
  methods: {
    okClick() {
      this.confirmLocal = true
      this.showLocal = false
    }
  }
}
</script>
