<template>
  <v-dialog v-model="localShow" :width="width">
    <v-card>
      <v-row class="ma-0">
        <v-col cols="12">
          <v-text-field v-model="localItem.name" dense :readonly="action !== 'edit'" :label="$t(path + '_name')" />
        </v-col>
        <v-col cols="12">
          <v-text-field v-model="localItem.email" dense :readonly="action !== 'edit'" :label="$t(path + '_email')" />
        </v-col>
        <v-col cols="4">
          <v-text-field v-model="localItem.plz" dense :readonly="action !== 'edit'" :label="$t(path + '_plz')" />
        </v-col>
        <v-col cols="8">
          <v-text-field v-model="localItem.city" dense :readonly="action !== 'edit'" :label="$t(path + '_city')" />
        </v-col>
        <v-col cols="3">
          <v-text-field v-model="localItem.phone1" dense :readonly="action !== 'edit'" :label="$t(path + '_phone1')" />
        </v-col>
        <v-col cols="3">
          <v-text-field v-model="localItem.phone2" dense :readonly="action !== 'edit'" :label="$t(path + '_phone2')" />
        </v-col>
        <v-col cols="6">
          <v-text-field
            v-model="localItem.familyNmae"
            dense
            :readonly="action !== 'edit'"
            :label="$t(path + '_family_name')"
          />
        </v-col>
        <v-col cols="6">
          <v-row class="ma-0">
            <v-col cols="10" class="pa-0">
              <v-menu
                v-model="datePickerShow"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template #activator="{ on, attrs }">
                  <v-text-field
                    v-model="localItem.date"
                    :label="$t(path + '_last_date')"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="localItem.date" @input="datePickerShow = false"></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="2" class="py-0">
              <v-row class="ma-0 fill-height" align="center" justify="center">
                <v-icon style="cursot: pointer" @click="localItem.date = null"> mdi-close</v-icon>
              </v-row>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12">
          <endorse :value.sync="localItem.endorsed" :disabled="action !== 'edit'" />
        </v-col>
        <v-col cols="12">
          <v-text-field
            id="remark"
            v-model="localItem.remark"
            :label="$t(path + '_remark')"
            :disabled="action !== 'edit'"
          />
        </v-col>
        <v-col cols="12">
          <v-row justify="start">
            <v-btn class="ma-4" @click="cancel()">
              {{ $t(path + '_cancel') }}
            </v-btn>
            <v-btn v-if="action !== 'view'" :disabled="okDisabled" :loading="loading" class="ma-4" @click="ok()">
              {{ $t(path + '_ok') }}
            </v-btn>
          </v-row>
        </v-col>
        <v-col cols="12" class="grey">
          <whatsapp-text :jwt-mid="jwtMid" />
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import jwt from 'jsonwebtoken'
import WhatsappText from './whatsappText'
import { mapSync } from '~/helpers/methods'
import Endorse from '~/components/checkboxes/tripleBox'

export default {
  components: {
    WhatsappText,
    Endorse
  },
  props: {
    handler: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true
    },
    action: {
      type: String,
      default: 'edit'
    }
  },
  data() {
    return {
      path: 'pages.byWhatsapp.',
      loading: false,
      datePickerShow: false,
      jwtMid: '2.3',
      localItem: {
        name: null,
        email: null,
        plz: null,
        city: null,
        phone1: null,
        phone2: null,
        familyName: null,
        date: null,
        endorsed: null,
        remark: null
      }
    }
  },
  computed: {
    ...mapSync({ localShow: 'show' }),
    width() {
      return window.innerWidth < 600 ? '100%' : '40%'
    },
    changes() {
      const rtrn = {}
      Object.keys(this.localItem).forEach((key) => {
        if (key === 'date') {
          if (this.localItem[key] !== (this.handler.lastDate && this.handler.lastDate.date)) {
            rtrn[key] = this.localItem[key]
          }
        } else if (this.localItem[key] !== this.handler[key]) {
          rtrn[key] = this.localItem[key]
        }
      })
      return rtrn
    },
    okDisabled() {
      return Object.keys(this.changes).length === 0
    }
  },
  watch: {
    localShow(value) {
      if (value) {
        Object.keys(this.localItem).forEach((key) => {
          if (key === 'date') {
            this.localItem[key] = this.handler.lastDate && this.handler.lastDate.date
          } else {
            this.localItem[key] = this.handler[key]
          }
        })
        const token = jwt.sign({ recId: this.handler.recId }, process.env.JWT_SECRET)
        const tokens = token.split('.')
        this.jwtMid = tokens[1]
        if (this.action === 'full') {
          setTimeout(() => this.copyFillExit(), 0)
        }
      }
    }
  },
  methods: {
    async ok() {
      this.loading = true
      this.changes.recId = this.handler.recId
      if (Object.keys(this.changes).find((key) => key === 'date')) {
        const calls = [
          {
            recId: this.handler.lastDate && this.handler.lastDate.recId,
            byWhatsappId: this.handler.recId,
            date: this.changes.date
          }
        ]
        this.changes.setsForSeparateSaving = { calls }
        delete this.changes.date
      }
      try {
        const result = await this.$axios.post('/api/admin/byWhatsapp', this.changes, {
          headers: { token: process.env.DES_BACK_TOKEN, inner: this.$inner }
        })
        this.$emit('update-changes', result.data[0])
        this.localShow = false
      } catch (err) {
        console.error('Error catched by desAdmin:', err)
      } finally {
        this.loading = false
      }
    },
    copyFillExit() {
      this.CopyToClipboard('textToCopy')
      const date = new Date()
      this.localItem.date = date.toISOString().slice(0, 10)
      this.localItem.remark = 'Sent'
      this.ok()
    },
    cancel() {
      this.localShow = false
    },
    CopyToClipboard(id) {
      const range = document.createRange()
      range.selectNode(document.getElementById(id))
      window.getSelection().removeAllRanges()
      window.getSelection().addRange(range)
      document.execCommand('copy')
      window.getSelection().removeAllRanges()
    }
  }
}
</script>
