<template>
  <v-row id="textToCopy" class="ma-0">
    An die deutschen Autohändler, <br />
    <br />
    möchten Sie das im Internet gefundene Fahrzeug schnell und preisgünstig prüfen lassen? <br />
    Wir haben deutschlandweit ein Netz von Fahrzeugkennern geschaffen, die bereit sind Ihr Wunschauto vor Ort zu
    besichtigen, es nach einem digitalen Fragebogen durchzuchecken und dabei per Live-chat mit Ihnen in Kontakt zu
    bleiben, um Ihre zusätzlichen Fragen an Fahrzeugverkäufer weiterzuleiten.<br />
    Sie haben quasi einen Vertreter, der Ihre Interessen beim Fahrzeugkauf verteidigt. So sind Sie schneller vor Ort als
    alle anderen Fahrzeuginteressenten. <br />
    Für eventuelle Fragen können Sie über unsere Webseite mit uns Kontakt über Whatsapp oder Telefon aufnehmen.<br />
    <br />
    Für weitere Informationen besuchen Sie bitte unsere Website: <br />
    https://www.deservice.net?from=whatsapp <br />
    <br />
    Sie möchten zu diesem Thema in Zukunft von uns keine Meldungen erhalten? Dann klicken Sie bitte hier um die
    Benachrichtigungen abzubestellen:<br />
    https://api.deservice.net/api/link/donotdistarb/whatsApp?id={{ jwtMid }}<br />
  </v-row>
</template>

<script>
export default {
  props: {
    jwtMid: {
      type: String,
      required: true
    }
  }
}
</script>
