<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-row class="ma-0">
        <v-col cols="1" />
        <v-col cols="4" text-xs-center>
          <users :rec-id.sync="accountId" :with-all="true" />
        </v-col>
        <v-col cols="4" text-xs-center>
          <v-checkbox
            v-model="onlyNoCompleteds"
            class="mt-1"
            :label="$t(path + '_only_no_completeds')"
            dense
            color="orange"
            hide-details
          ></v-checkbox>
        </v-col>
        <v-col cols="3"> {{ $t(path + '_balance') }}: € {{ balance }}</v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col cols="12">
          <v-row justify="center" align="center">
            <v-data-table
              :headers="headers"
              :items="items"
              item-key="recId"
              class="elevation-5"
              style="width: 100%"
              disable-pagination
              hide-default-footer
              :search="search"
              :custom-filter="filter"
            >
              <template #item="{ item }">
                <tr>
                  <td class="text-xs-left">
                    {{ item.paymentDate }}
                  </td>
                  <td class="text-xs-left">
                    {{ item.nickName }}
                  </td>
                  <td class="text-xs-left">
                    {{ item.paymentType }}
                  </td>
                  <td class="text-xs-left">{{ status(item) }}</td>
                  <td class="text-xs-left">
                    {{ item.mcGross }}
                  </td>
                  <td class="text-xs-left">
                    {{ item.mcFee }}
                  </td>
                  <td class="text-xs-left">{{ item.ourCommission }}</td>
                  <td v-if="status(item)">
                    <v-icon small class="mr-2" @click="editViewItem(item, 'view')"> mdi-eye </v-icon>
                  </td>
                  <td v-else>
                    <v-icon v-if="item.paymentType === 'payout'" class="mr-2 orange--text"> mdi-alpha-t-box </v-icon>
                    <v-btn v-else x-small elevation="0" :loading="loading" class="transparent pa-0">
                      <v-icon class="mr-2 orange" @click="checkTransaction(item)"> mdi-alpha-p-box </v-icon>
                    </v-btn>
                    <v-icon small class="mr-2" @click="editViewItem(item, 'edit')"> mdi-pencil </v-icon>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
    <edit-view-dialog :show.sync="editViewDialogShow" :transaction="selectedItem" :type="editViewType" />
  </v-row>
</template>

<script>
import EditViewDialog from './editViewDialog'
import Users from '@/components/autocompletes/users'

export default {
  components: {
    Users,
    EditViewDialog
  },
  layout: 'dashboard2',
  data() {
    return {
      path: 'pages.paypal.',
      accountId: null,
      balance: 0.0,
      search: ':',
      onlyNoCompleteds: false,
      items: [],
      selectedItem: {},
      editViewDialogShow: false,
      editViewType: 'view',
      loading: false
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t(this.path + '_time'), divider: true },
        { text: this.$t(this.path + '_nickName'), divider: true },
        { text: this.$t(this.path + '_type'), divider: true },
        { text: this.$t(this.path + '_status'), divider: true },
        { text: this.$t(this.path + '_gross'), divider: true },
        { text: this.$t(this.path + '_fee'), divider: true },
        { text: this.$t(this.path + '_commission'), divider: true },
        { text: this.$t(this.path + '_actions'), divider: true }
      ]
    },
    status() {
      return (item) => this.getStatus(item)
    }
  },
  watch: {
    accountId(value) {
      if (value !== null) {
        this.updateFromDB(value)
      }
    }
  },
  mounted() {
    this.setBalance()
  },
  methods: {
    async updateFromDB(accountId) {
      const query = accountId ? '?accountId=' + accountId : ''
      this.items = (
        await this.$axios.get('/api/admin/paypal' + query, { headers: { token: process.env.DES_BACK_TOKEN } })
      ).data
    },
    editViewItem(item, type) {
      this.editViewType = type
      this.selectedItem = item
      this.editViewDialogShow = true
    },
    async checkTransaction(item) {
      this.loading = true
      const query =
        '?recId=' +
        item.recId +
        '&txnId=' +
        item.txnId +
        '&paymentType=' +
        item.paymentType +
        '&payoutBatchId=' +
        item.payoutBatchId
      const res = (
        await this.$axios.get('/api/admin/paypal/checkTransaction' + query, {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
      ).data
      if (res.result) {
        item.paymentStatus = res.result[0].paymentStatus
      }
      this.loading = false
    },
    getStatus(item) {
      let status = null
      switch (item.paymentType) {
        case 'deposit':
          if (item.paymentStatus === 'Completed') {
            status = 'Completed'
          }
          break
        case 'refund':
          if (item.paymentStatus === 'Refunded') {
            status = 'Completed'
          }
          break
        case 'payout':
          if (item.paymentStatus === 'Payouted') {
            status = 'Completed'
          }
          break
      }
      return status
    },
    filter(value, search, item) {
      return this.onlyNoCompleteds ? this.getStatus(item) !== 'Completed' : true
    },
    async setBalance() {
      const res = await this.$axios.get('/api/admin/paypal/balance', {
        headers: { token: process.env.DES_BACK_TOKEN }
      })
      this.balance = res.data.result.L_AMT0
    }
  }
}
</script>
