<template>
  <v-dialog v-model="localShow" :width="width">
    <v-data-table :headers="headers" :items="properties" dense disable-pagination hide-default-footer>
      <template #item="{ item }">
        <tr>
          <td class="text-right">
            {{ item.key }}
          </td>
          <td class="text-left">
            {{ item.value }}
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-dialog>
</template>

<script>
import { mapSync } from '~/helpers/methods'
export default {
  props: {
    transaction: {
      type: Object,
      required: true
    },
    show: {
      type: Boolean,
      required: true
    },
    type: {
      type: String,
      default: 'view'
    }
  },
  data() {
    return {
      path: 'pages.paypal.editViewDialog.',
      properties: []
    }
  },
  computed: {
    ...mapSync({ localShow: 'show' }),
    width() {
      return window.innerWidth < 600 ? '100%' : '40%'
    },
    headers() {
      return [{ text: this.$t(this.path + '_key'), class: 'text-right' }, { text: this.$t(this.path + '_value') }]
    }
  },
  watch: {
    localShow(value) {
      this.properties = []
      if (value) {
        for (const [key, value] of Object.entries(this.transaction)) {
          this.properties.push({ key, value })
        }
      }
    }
  }
}
</script>
