<template>
  <!-- <v-container fluid> -->
  <v-row class="ma-0" align="center" justify="center" style="position: relative">
    <v-col class="pa-0" cols="6" />
    <v-col class="pa-0" cols="6">
      <v-text-field
        v-model="search"
        dense
        append-icon="mdi-magnify"
        :label="$t(path + '_search')"
        hide-details
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-data-table :headers="headers" :items="items" :search="search" :items-per-page="15">
        <template #item="{ item }">
          <tr>
            <td class="text-xs-left outlined" @click="openRevokeDialog(item)">{{ item.recId }}</td>
            <td class="text-xs-left">{{ item.nickName }}</td>
            <td class="text-xs-left">{{ item.descrip }}</td>
            <td class="text-xs-left">{{ item.email }}</td>
            <td class="text-xs-left outlined" @click="openPhonesDialog(item)">
              <v-col class="pa-0" cols="12">
                <v-row class="ma-0"> {{ item.phoneNumber }} </v-row>
                <v-row class="ma-0">
                  {{ item.adminData.calledPhoneNumber }}
                </v-row>
              </v-col>
            </td>
            <td class="text-xs-left">{{ item.roles }}</td>
            <td class="text-xs-left">{{ item.place }}</td>
            <td class="text-xs-left">{{ item.prices }}</td>
            <td class="text-xs-left">{{ item.push }}</td>
            <td class="text-xs-right outlined" @click="openSentEmailsDialog(item)">
              {{ item.adminData.emailsSent }}
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-col>
    <v-progress-circular
      v-if="loading"
      :indeterminate="loading"
      :width="loading ? 4 : 0"
      style="position: absolute"
      color="des_secondary"
    />
    <sent-emails-dialog :show.sync="showSentEmailsDialog" :item="selectedItem" @update-admin-data="updateAdminData" />
    <phones-dialog :show.sync="showPhonesDialog" :item="selectedItem" @update-admin-data="updateAdminData" />
    <revoke-dialog :show.sync="showRevokeDialog" :item="selectedItem" @update-admin-data="updateAdminData" />
  </v-row>
  <!-- </v-container> -->
</template>

<script>
import SentEmailsDialog from './sentEmailsDialog'
import PhonesDialog from './phonesDialog'
import RevokeDialog from './revokeDialog'

export default {
  components: {
    SentEmailsDialog,
    PhonesDialog,
    RevokeDialog
  },
  layout: 'dashboard2',
  data() {
    return {
      path: 'pages.accounts.',
      items: [],
      search: '',
      showSentEmailsDialog: false,
      showPhonesDialog: false,
      showRevokeDialog: false,
      selectedItem: {},
      loading: false
    }
  },
  computed: {
    headers() {
      return [
        { text: 'ID', value: 'recId', divider: true },
        {
          text: this.$t(this.path + '_nick_name'),
          value: 'nickName',
          divider: true
        },
        {
          text: this.$t(this.path + '_descrip'),
          value: 'descrip',
          divider: true
        },
        { text: this.$t(this.path + '_email'), value: 'email', divider: true },
        {
          text: this.$t(this.path + '_phone'),
          value: 'phoneNumber',
          divider: true
        },
        { text: this.$t(this.path + '_roles'), value: 'roles', divider: true },
        { text: this.$t(this.path + '_place'), value: 'place', divider: true },
        {
          text: this.$t(this.path + '_prices'),
          value: 'prices',
          divider: true
        },
        { text: this.$t(this.path + '_push'), value: 'push', divider: true },
        { text: this.$t(this.path + '_emails'), value: 'emailSentCount' }
      ]
    },
    roles() {
      return (elem) => {
        let roles = ''
        elem.roles.forEach((elem, index) => (roles += (index ? ', ' : '') + elem))
        return roles
      }
    },
    place() {
      return (elem) => {
        return (elem.plz || ' - ') + ':' + (elem.radius || ' - ') + ':' + (elem.priceKm || ' - ')
      }
    },
    prices() {
      return (elem) => {
        let basic = 'B: '
        let advanced = 'A: '
        let phone = 'P: '
        if (elem.speedLevel) {
          elem.speedLevel.forEach((elem, index) => {
            switch (elem.level) {
              case 'basic':
                basic += elem.speed.slice(0, 1) + elem.price + ' '
                break
              case 'advanced':
                advanced += elem.speed.slice(0, 1) + elem.price + ' '
                break
              case 'phone':
                phone += elem.speed.slice(0, 1) + elem.price + ' '
                break
            }
          })
        }
        return basic + ', ' + advanced + ', ' + phone
      }
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      this.loading = true
      try {
        this.items = []
        const result = await this.$axios.get('/api/admin/accounts', {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
        result.data.forEach((elem) => {
          const item = {
            recId: elem.recId,
            dear: { gender: elem.gender, lastName: elem.lastName },
            nickName: elem.nickName,
            descrip: elem.descrip,
            email: elem.email,
            phoneNumber: elem.phoneNumber,
            roles: this.roles(elem),
            place: this.place(elem),
            prices: this.prices(elem),
            push: elem.push ? 'Yes' : 'NO',
            adminData: elem.adminData,
            interacted: elem.interacted
          }
          this.items.push(item)
        })
      } catch (err) {
        console.log('error at accounts:', err, err.stack)
      } finally {
        this.loading = false
      }
    },
    openSentEmailsDialog(item) {
      this.selectedItem = item
      this.showSentEmailsDialog = true
    },
    updateAdminData(options) {
      Object.keys(options).forEach((key) => (this.selectedItem.adminData[key] = options[key]))
    },
    openPhonesDialog(item) {
      this.selectedItem = item
      this.showPhonesDialog = true
    },
    openRevokeDialog(item) {
      this.selectedItem = item
      this.showRevokeDialog = true
    }
  }
}
</script>

<style scoped>
.outlined {
  border: thin solid #ccc;
  border-radius: 7px;
  cursor: pointer;
}
</style>
