<template>
  <v-dialog v-model="localShow" width="40%" class="red">
    <v-card v-if="localShow">
      <v-row class="ma-0" justify="center" align="center" style="position: relative">
        <v-col>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_nickName') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.nickName }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_descrip') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.descrip }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_entered_phone_number') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.phoneNumber }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">
              <v-row class="ma-0 fill-height" align="center">
                {{ $t(path + '_called_phone_number') + ':' }}
              </v-row>
            </v-col>
            <v-col class="pa-0" cols="auto" md="4">
              <v-text-field v-model="calledPhoneNumber" :label="$t(path + '_phone_number')" />
            </v-col>
          </v-row>
          <v-row justify="start">
            <v-btn class="ma-4" :disabled="loading" @click="cancel()">
              {{ $t(path + '_cancel') }}
            </v-btn>
            <v-btn
              class="ma-4"
              :disabled="loading || calledPhoneNumber === item.adminData.calledPhoneNumber"
              @click="ok()"
            >
              {{ $t(path + '_ok') }}
            </v-btn>
          </v-row>
        </v-col>
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
          :width="loading ? 4 : 0"
          style="position: absolute"
          color="des_secondary"
        />
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  components: {},
  props: {
    show: {
      type: Boolean,
      required: true
    },
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.accounts.phonesDialog.',
      loading: false,
      calledPhoneNumber: null
    }
  },
  computed: {
    localShow: {
      get() {
        return this.show
      },
      set(value) {
        this.$emit('update:show', value)
      }
    }
  },
  watch: {
    item(value) {
      this.calledPhoneNumber = this.item.adminData.calledPhoneNumber
    }
  },
  methods: {
    cancel() {
      this.localShow = false
    },
    async ok() {
      this.loading = true
      try {
        const result = await this.$axios.post(
          '/api/admin/accountAdminData',
          {
            recId: this.item.adminData.recId,
            accountId: this.item.recId,
            calledPhoneNumber: this.calledPhoneNumber.trim()
          },
          { headers: { token: process.env.DES_BACK_TOKEN, inner: this.$inner } }
        )
        const options = {
          recId: result.data[0].recId,
          calledPhoneNumber: result.data[0].calledPhoneNumber
        }
        this.$emit('update-admin-data', options)
        this.localShow = false
      } catch (err) {
        console.error('Error at phone dialog:', err, err.stack)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
