<template>
  <v-app dark>
    <left-drawer :drawer.sync="drawer" />
    <v-main>
      <v-container class="pa-0 fill-height" fluid>
        <v-row class="ma-0 fill-height">
          <v-col class="pa-0" cols="12" style="position: relative">
            <v-app-bar-nav-icon v-if="!drawer" fixed class="ma-3" style="z-index: 100" @click.stop="drawer = !drawer" />
            <Nuxt class="des_fontBlue--text" />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer absolute app>
      <span style="font-size: 0.8em">ambro-soft &copy; 2022</span>
    </v-footer>
  </v-app>
</template>

<script>
import LeftDrawer from '@/components/menus/leftDrawer'

export default {
  name: 'DefaultLayout',
  components: {
    LeftDrawer
  },
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ]
    }
  }
}
</script>
