<template>
  <v-row class="ma-0">
    <v-col v-if="localValue === 0" class="pa-0">
      <v-icon :disabled="disabled" @click="localValue = 1">mdi-minus-box-outline</v-icon>
      {{ $t(path + '_disapproved') }}
    </v-col>
    <v-col v-else-if="localValue === -1 || !localValue" class="pa-0">
      <v-icon :disabled="disabled" @click="localValue = 0"> mdi-checkbox-blank-outline</v-icon>
      <span>{{ $t(path + '_neutral') }}</span>
    </v-col>
    <v-col v-else-if="localValue === 1" class="pa-0">
      <v-icon :disabled="disabled" @click="localValue = -1"> mdi-checkbox-marked </v-icon>
      {{ $t(path + '_endorsed') }}
    </v-col>
  </v-row>
</template>

<script>
import { mapSync } from '~/helpers/methods'

export default {
  props: {
    value: {
      validator(val) {
        return !val || [0, 1, -1].includes(val)
      },
      default: -1
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      initialValue: this.value,
      path: 'components.checkboxes.tripleBox.'
    }
  },
  computed: {
    ...mapSync({ localValue: 'value' })
  }
}
</script>
