<template>
  <v-container fluid class="fill-height">
    <v-row justify="center">
      <v-col cols="auto"> ეს არის index ფაილი, აქ უნდა იყოს მომხმარებლების დალოგინება აპლიკაციაში </v-col>
    </v-row>
  </v-container>
</template>