<template>
  <v-row class="ma-0">
    <v-col>
      <v-row class="ma-0" align="center">
        <v-col cols="1" />
        <v-col cols="3" md="1">
          <v-text-field
            v-model="maxDistance"
            type="number"
            dense
            hide-details
            :label="$t(path + '_max_distance')"
            :suffix="$t(path + '_km')"
          />
        </v-col>
        <v-col cols="3" md="2">
          <v-text-field
            v-model="maxPrice"
            dense
            type="number"
            hide-details
            :label="$t(path + '_max_average_price')"
            prefix="€"
          />
        </v-col>
        <v-col cols="3" md="1">
          <v-btn :loading="loading" @click="updateFromDB()">{{ $t(path + '_calculate') }}</v-btn>
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col cols="3" md="1"> {{ $t(path + '_total') }}: {{ average.toFixed(2) }}% </v-col>
      </v-row>

      <v-row class="ma-0">
        <v-expansion-panels accordion>
          <v-expansion-panel v-for="key1 in Object.keys(items)" :key="key1">
            <v-expansion-panel-header> {{ panelHeader([key1]) }}</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-expansion-panels accordion>
                <v-expansion-panel v-for="key2 in Object.keys(items[key1].child)" :key="key2">
                  <v-expansion-panel-header>{{ panelHeader([key1, key2]) }}</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-expansion-panels accordion>
                      <v-expansion-panel v-for="key3 in Object.keys(items[key1].child[key2].child)" :key="key3">
                        <v-expansion-panel-header>{{ panelHeader([key1, key2, key3]) }}</v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <v-expansion-panels accordion>
                            <v-expansion-panel
                              v-for="key4 in Object.keys(items[key1].child[key2].child[key3].child)"
                              :key="key4"
                            >
                              <v-expansion-panel-header>{{
                                panelHeader([key1, key2, key3, key4])
                              }}</v-expansion-panel-header>
                              <v-expansion-panel-content>
                                <v-expansion-panels accordion>
                                  <v-expansion-panel
                                    v-for="plz in Object.keys(items[key1].child[key2].child[key3].child[key4].child)"
                                    :key="plz"
                                  >
                                    <v-expansion-panel-header>{{
                                      panelHeader([key1, key2, key3, key4, plz])
                                    }}</v-expansion-panel-header>
                                    <v-expansion-panel-content> </v-expansion-panel-content>
                                  </v-expansion-panel>
                                </v-expansion-panels>
                              </v-expansion-panel-content>
                            </v-expansion-panel>
                          </v-expansion-panels>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      path: 'pages.plzs.',
      average: 0,
      items: {},
      maxDistance: 70,
      maxPrice: 80,
      loading: false
    }
  },
  computed: {
    panelHeader() {
      return (keys) => {
        let leaf = this.items[keys[0]]
        let name = keys[0]
        keys.forEach((key, index) => {
          if (index > 0) {
            leaf = leaf.child[key]
            name = key
          }
        })
        const perc = Math.round((100 * leaf.covered) / leaf.all)
        let rtrn
        if (keys.length < 5) {
          rtrn = `${(name + 'xxxx').slice(0, 5)}:  ${perc}% = ${leaf.covered} / ${leaf.all}`
        } else {
          rtrn =
            `${keys[4]} ${leaf.place}: checkers - ${leaf.count}` +
            (leaf.count
              ? `, min: ${(leaf.minDistance || 0).toFixed(1)}/
            ${(leaf.minPrice || 0).toFixed(2)}, max: ${(leaf.maxDistance || 0).toFixed(1)}/
            ${(leaf.maxPrice || 0).toFixed(2)}`
              : '')
        }
        return rtrn
      }
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      try {
        this.loading = true
        const items = {}
        const query = `?distanceLimit=${this.maxDistance}&priceLimit=${this.maxPrice}`
        const result = await this.$axios.get('/api/admin/plzs' + query, {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
        const germanyPlzs = (
          await this.$axios.get('/api/general/germanyPlzs' + query, {
            headers: { token: process.env.DES_BACK_TOKEN }
          })
        ).data
        let all = 0
        let covered = 0
        germanyPlzs.forEach((germanyPlz, index) => {
          let elem = result.data.find((elem) => elem.plz === germanyPlz.plz)
          elem = elem || { plz: germanyPlz.plz, place: germanyPlz.place, count: 0 }
          all += 1
          covered += Math.sign(elem.count)
          const key1 = elem.plz.slice(0, 1)
          const key2 = elem.plz.slice(0, 2)
          const key3 = elem.plz.slice(0, 3)
          const key4 = elem.plz.slice(0, 4)
          const plz = elem.plz

          items[key1] = items[key1] || { all: 0, covered: 0, child: {} }
          items[key1].all += 1
          items[key1].covered += Math.sign(elem.count)

          items[key1].child[key2] = items[key1].child[key2] || { all: 0, covered: 0, child: {} }
          items[key1].child[key2].all += 1
          items[key1].child[key2].covered += Math.sign(elem.count)

          items[key1].child[key2].child[key3] = items[key1].child[key2].child[key3] || { all: 0, covered: 0, child: {} }
          items[key1].child[key2].child[key3].all += 1
          items[key1].child[key2].child[key3].covered += Math.sign(elem.count)

          items[key1].child[key2].child[key3].child[key4] = items[key1].child[key2].child[key3].child[key4] || {
            all: 0,
            covered: 0,
            child: {}
          }
          items[key1].child[key2].child[key3].child[key4].all += 1
          items[key1].child[key2].child[key3].child[key4].covered += Math.sign(elem.count)

          items[key1].child[key2].child[key3].child[key4].child[plz] = elem
        })
        this.average = (100 * covered) / all
        this.items = items
      } catch (err) {
        console.error('error at plzs:', err, err.stack)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
