<template>
  <v-row no-gutters>
    <v-col>
      <v-row class="ma-0">
        <v-col cols="1" />
        <v-col cols="7" text-xs-center>
          <v-checkbox
            v-model="onlyNoCompleteds"
            class="mt-1"
            :label="$t(path + '_only_no_completeds')"
            dense
            color="orange"
            hide-details
          ></v-checkbox>
        </v-col>
        <v-col cols="4"> {{ $t(path + '_balance') }}: € {{ balance }}</v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col cols="12">
          <v-row justify="center" align="center">
            <v-data-table
              :headers="headers"
              :items="items"
              item-key="recId"
              class="elevation-5"
              style="width: 100%"
              disable-pagination
              hide-default-footer
              :search="search"
              :custom-filter="filter"
            >
              <template #item="{ item }">
                <tr>
                  <td class="text-xs-left">{{ item.paymentDate }}</td>
                  <td class="text-xs-left">
                    {{ item.nickName }}
                  </td>
                  <td class="text-xs-right">{{ item.ourCommission }}</td>
                  <td class="text-xs-left">{{ status(item) }}</td>
                  <td class="text-xs-left">
                    {{ item.receiverEmail }}
                  </td>
                  <td class="text-xs-right">
                    {{ item.mcGross }}
                  </td>
                  <td class="text-xs-left">
                    {{ item.recId }}
                  </td>
                  <td v-if="status(item)">
                    <v-icon small class="mr-2" @click="editViewItem(item, 'view')"> mdi-eye </v-icon>
                  </td>
                  <td v-else>
                    <v-btn class="pa-0 transparent" :loading="loading" x-small elevation="0">
                      <v-icon class="mr-2 orange" :disabled="item.customId" @click="completePayout(item)">
                        mdi-alpha-t-box
                      </v-icon>
                    </v-btn>
                    <v-icon small class="mr-2" @click="editViewItem(item, 'edit')"> mdi-pencil </v-icon>
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
    <edit-view-dialog :show.sync="editViewDialogShow" :transaction="selectedItem" :type="editViewType" />
  </v-row>
</template>

<script>
import EditViewDialog from './editViewDialog'

export default {
  components: {
    EditViewDialog
  },
  layout: 'dashboard2',
  data() {
    return {
      path: 'pages.payouts.',
      items: [],
      balance: 0.0,
      search: ':',
      onlyNoCompleteds: true,
      selectedItem: {},
      editViewDialogShow: false,
      editViewType: 'view',
      loading: false
    }
  },
  computed: {
    headers() {
      return [
        { text: this.$t(this.path + '_time'), divider: true },
        { text: this.$t(this.path + '_nickName'), divider: true },
        { text: this.$t(this.path + '_commission'), divider: true },
        { text: this.$t(this.path + '_status'), divider: true },
        { text: this.$t(this.path + '_receiver_email'), divider: true },
        { text: this.$t(this.path + '_gross'), divider: true },
        { text: this.$t(this.path + '_id'), divider: true },
        { text: this.$t(this.path + '_actions'), divider: true }
      ]
    },
    status() {
      return (item) => this.getStatus(item)
    }
  },
  mounted() {
    this.updateFromDB()
  },
  methods: {
    async updateFromDB() {
      const query = '?paymentType=payout&'
      try {
        this.items = (
          await this.$axios.get('/api/admin/paypal' + query, { headers: { token: process.env.DES_BACK_TOKEN } })
        ).data
        this.setBalance()
      } catch (err) {
        console.error('Error:', err)
      }
    },
    editViewItem(item, type) {
      this.editViewType = type
      this.selectedItem = item
      this.editViewDialogShow = true
      this.setBalance()
    },
    async completePayout(item) {
      this.loading = true
      const params = {
        recId: item.recId,
        paymentStatus: 'Payouted'
      }
      const res = (
        await this.$axios.post('/api/admin/paypal/completePayout', params, {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
      ).data
      if (res.result) {
        item.paymentStatus = 'Just Payouted'
        item.customId = true
      }
      this.loading = false
      this.setBalance()
    },
    getStatus(item) {
      let status = null
      switch (item.paymentStatus) {
        case 'Payouted':
          status = 'Completed'
          break
        case 'Just Payouted':
          status = 'Just Completed'
          break
      }
      return status
    },
    filter(value, search, item) {
      return this.onlyNoCompleteds ? this.getStatus(item) !== 'Completed' : true
    },
    async setBalance() {
      const res = await this.$axios.get('/api/admin/paypal/balance', {
        headers: { token: process.env.DES_BACK_TOKEN }
      })
      this.balance = res.data.result.L_AMT0
    }
  }
}
</script>
