<template>
  <v-btn fab small elevation="2" :style="btnStyle" @click="onClick()">
    <v-row v-if="!iconName" class="ma-0 fill-height" justify="center" align="center">
      <b class="blink des_fontBlue--text"> {{ tablo.blink }}</b>
      <b class="des_fontBlue--text"> {{ tablo.time }}</b>
    </v-row>
    <v-row v-else class="ma-0 fill-height" style="position: relative" justify="center" align="center">
      <v-icon :class="(mustBlink ? 'blink' : '') + ' des_fontBlue--text mt-1'" :style="iconStyle" :small="!!amount">
        {{ iconName }}
      </v-icon>
      <b style="position: absolute; top: -2px" class="des_fontBlue--text">{{ amount }}</b>
    </v-row>
  </v-btn>
</template>

<script>
export default {
  props: {
    tablo: {
      type: Object,
      default() {
        return {}
      }
    },
    iconName: {
      type: String,
      required: true
    },
    price: {
      validator: (val) => !val || typeof val === 'number',
      required: true
    },
    mustBlink: {
      type: Boolean,
      default: false
    },
    backgroundColor: {
      type: String,
      default: 'des_iconBtnBG'
    }
  },
  data() {
    return {
      path: 'components.users.orders.remain.buttons.btnFace.'
    }
  },
  computed: {
    amount() {
      const rtrn = this.price || 0
      if (rtrn >= 1000) return rtrn.toFixed(0)
      if (rtrn >= 100) return rtrn.toFixed(1)
      if (rtrn > 0) return rtrn.toFixed(2)
      return null
    },
    btnStyle() {
      return {
        backgroundColor: this.$vc[this.backgroundColor],
        textTransform: 'none'
      }
    },
    iconStyle() {
      return this.amount ? 'position: absolute; top: -26px' : ''
    }
  },
  methods: {
    onClick() {
      this.$emit('on-click')
    }
  }
}
</script>

<style scoped>
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
</style>
