<template>
  <btn-face
    :tablo="tablo"
    :price="price"
    :icon-name="iconName"
    :must-blink="mustBlink"
    :background-color="btnBackgroundColor"
    @on-click="onClick"
  />
</template>

<script>
import btnFace from './btnFace'

export default {
  components: { btnFace },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      remain: null,
      setIntervalId: null,
      openChangeStage: false
    }
  },
  computed: {
    term() {
      return (this.item.stage !== this.$stages.ASKED_PROLONG && this.item.newTerm) || this.item.term
    },
    hours() {
      return this.remain && Math.floor(this.remain / (60 * 60 * 1000))
    },
    mins() {
      return this.remain && Math.floor((this.remain - this.hours * 60 * 60 * 1000) / (60 * 1000))
    },
    closed() {
      return this.item.stage > this.$stages.ask_break
    },
    newPrice() {
      return Math.round(+this.item.newPrice || 0)
    },
    price() {
      let price = +this.item.price
      switch (this.item.stage) {
        case this.$stages.FAILED_NO_MONEY:
        case this.$stages.CANCELED_NO_MONEY:
        case this.$stages.CHOICED_ANNULLED:
        case this.$stages.ASKED_PROLONG_ANNULLED:
        case this.$stages.ASKED_CANCEL_ANNULLED:
          price = 0
          break
        case this.$stages.ASKED_CANCEL:
        case this.$stages.FAILED:
        case this.$stages.CANCELED:
        case this.$stages.FAILED_INVOICED:
        case this.$stages.CANCELED_INVOICED:
        case this.$stages.FAILED_NO_INVOICE:
        case this.$stages.CANCELED_NO_INVOICE:
          price = +this.item.newPrice
          break
        case this.$stages.FILLED_INVOICED:
        case this.$stages.FILLED_NO_INVOICE:
      }
      return price
    },
    iconName() {
      let name = ''
      switch (this.item.stage) {
        case this.$stages.FILLED_INVOICED:
          name = 'mdi-currency-eur'
          break
        case this.$stages.FAILED:
        case this.$stages.FAILED_NO_MONEY:
        case this.$stages.FAILED_INVOICED:
          name = 'mdi-close-circle-outline'
          break
        case this.$stages.ASKED_CANCEL:
        case this.$stages.CANCELED:
        case this.$stages.CANCELED_NO_MONEY:
        case this.$stages.CANCELED_INVOICED:
          name = 'mdi-cancel'
          break
        case this.$stages.FILLED_NO_INVOICE:
        case this.$stages.FAILED_NO_INVOICE:
        case this.$stages.CANCELED_NO_INVOICE:
          name = 'mdi-circle-cutline'
          break
        case this.$stages.CHOICED_ANNULLED:
        case this.$stages.ASKED_PROLONG_ANNULLED:
        case this.$stages.ASKED_CANCEL_ANNULLED:
          name = 'mdi-close'
      }
      return name
    },
    mustBlink() {
      let must = false
      switch (this.item.stage) {
        case this.$stages.ASKED_CANCEL:
        case this.$stages.ASKED_PROLONG:
        case this.$stages.FILLED:
        case this.$stages.FAILED:
        case this.$stages.CANCELED:
          must = true
          break
      }
      return must
    },
    btnBackgroundColor() {
      let color = 'des_iconBtnBG'
      switch (this.item.stage) {
        case this.$stages.ASKED_CANCEL:
          color = 'des_yellowBG'
          break
        case this.$stages.ASKED_PROLONG:
          color = 'des_greenBG'
          break
      }
      return color
    },
    tablo() {
      const texts = { blink: '', time: '' }
      const hours = this.hours
      const mins = this.mins
      if (hours > 24) {
        texts.time = Math.round(hours / 24) + 'd'
      } else if (hours > 9) {
        texts.time = hours + 'h'
      } else if (hours > 0) {
        texts.time = hours + ':' + ('0' + mins).slice(-2)
      } else if (hours === 0) {
        texts.blink = ':'
        texts.time = ('0' + mins).slice(-2)
      } else {
        texts.blink = '0:00'
      }
      return texts
    }
  },
  mounted() {
    this.calculateRemain()
  },
  methods: {
    onClick() {
      this.$emit('on-click')
    },
    calculateRemain() {
      if (this.term) {
        if (this.item.stage < this.$stages.ask_break) {
          this.setIntervalId = setInterval(() => (this.remain = new Date(this.term).getTime() - Date.now()), 1000)
        } else {
          this.setIntervalId && clearInterval(this.setIntervalId)
          this.remain = new Date(this.term).getTime() - new Date(this.item.endTime).getTime()
        }
      }
    }
  }
}
</script>
