<template>
  <v-navigation-drawer v-model="localDrawer" fixed app>
    <v-col>
      <v-row class="ma-0 mb-2 pa-1">
        <v-icon @click="localDrawer = false">mdi-chevron-left</v-icon>
      </v-row>
      <v-row v-for="item in items" :key="item.text" class="ma-0">
        <v-divider v-if="item.divider" />
        <v-col v-else style="cursor: pointer" class="pa-1">
          <span @click="goTo(item.to)">{{ item.text }}</span>
        </v-col>
      </v-row>
    </v-col>
  </v-navigation-drawer>
</template>

<script>
import { mapSync } from '~/helpers/methods'
export default {
  props: {
    drawer: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      items: [
        {
          to: '/plzs',
          icon: 'mdi-alpha-p',
          text: 'Plzs'
        },
        {
          divider: true
        },
        {
          to: '/orders',
          icon: 'mdi-alpha-o',
          text: 'Orders'
        },
        {
          to: '/accounts',
          icon: 'mdi-alpha-a',
          text: 'Accounts'
        },
        {
          divider: true
        },
        {
          to: '/paypal',
          icon: 'mdi-alpha-p',
          text: 'PayPal'
        },
        {
          to: '/payouts',
          icon: 'mdi-alpha-p',
          text: 'Payouts'
        },
        {
          divider: true
        },
        {
          to: '/byWhatsapp',
          icon: 'mdi-alpha-h',
          text: 'By Whatsapp'
        },
        {
          to: '/byEmail',
          icon: 'mdi-email',
          text: 'By Email'
        }
        // {
        //   to: '/userAllows',
        //   icon: 'mdi-account-sync',
        //   text: 'User Allows'
        // },
        // {
        //   to: '/userParams',
        //   icon: 'mdi-account-edit',
        //   text: 'User Params'
        // }
      ]
    }
  },
  computed: {
    ...mapSync({ localDrawer: 'drawer' })
  },
  methods: {
    goTo(path) {
      this.$router.push({ path })
    }
  }
}
</script>
