<template>
  <v-row class="ma-0" justify="end">
    <v-col cols="12">
      <v-row id="textToCopy" class="ma-0 grey lighten-4">
        <v-col cols="12" class="pa-1"> {{ dearLastName }}, </v-col>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <v-col cols="12" class="pa-1" v-html="htmlText" />
        <v-col cols="12" class="pa-1">
          Mit freundlichen Grüßen <br />
          deService
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    htmlText: {
      type: String,
      required: true
    }
  },
  computed: {
    dearLastName() {
      const dear = this.item.dear
      return dear.gender === 'mr'
        ? 'Sehr geehrter Herr ' + dear.lastName
        : dear.gender === 'mrs'
        ? 'Sehr geehrte Frau ' + dear.lastName
        : dear.gender === 'jur'
        ? 'An ' + this.item.descrip
        : 'Lieber deService-Nutzer'
    }
  }
}
</script>
