<template>
  <v-dialog v-model="localShow" width="40%" class="red">
    <v-card v-if="localShow">
      <v-row class="ma-0" justify="center" align="center" style="position: relative">
        <v-col>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_nickName') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.nickName }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_descrip') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.descrip }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_email') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.email }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="end" align="center">
            <v-col cols="auto">{{ $t(path + '_sents') + ':' }}</v-col>
            <v-col class="pa-1 grey lighten-4"> {{ item.adminData.emailsSent }}</v-col>
          </v-row>
          <v-row justify="start">
            <v-btn class="ma-4" :disabled="loading" @click="cancel()">
              {{ $t(path + '_cancel') }}
            </v-btn>
            <v-btn class="ma-4" :disabled="loading || !textType.short" @click="ok()">
              {{ $t(path + '_ok') }}
            </v-btn>
          </v-row>
          <select-text :text-type.sync="textType" />
          <email-text :item="item" :html-text="textType.htmlText" />
        </v-col>
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
          :width="loading ? 4 : 0"
          style="position: absolute"
          color="des_secondary"
        />
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import EmailText from './emailText'
import SelectText from './selectText'

export default {
  components: {
    EmailText,
    SelectText
  },
  props: {
    show: {
      type: Boolean,
      required: true
    },
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.accounts.sentEmailsDialog.',
      textType: { htmlText: '<b> ტექსტი არაა არჩეული </b>' },
      loading: false
    }
  },
  computed: {
    localShow: {
      get() {
        return this.show
      },
      set(value) {
        this.$emit('update:show', value)
      }
    }
  },
  watch: {
    localShow(value) {
      if (value) {
        this.textType = { htmlText: '<b> ტექსტი არაა არჩეული </b>' }
      }
    }
  },
  methods: {
    cancel() {
      this.localShow = false
    },
    async ok() {
      this.loading = true
      try {
        const result = await this.$axios.post(
          '/api/admin/accountAdminData',
          {
            recId: this.item.adminData.recId,
            accountId: this.item.recId,
            emailsSent: (this.item.adminData.emailsSent + ' ' + this.textType.short).trim()
          },
          { headers: { token: process.env.DES_BACK_TOKEN, inner: this.$inner } }
        )
        const options = {
          recId: result.data[0].recId,
          emailsSent: result.data[0].emailsSent
        }
        this.$emit('update-admin-data', options)
        this.localShow = false
      } catch (err) {
        console.error('Error at sent email dialog by desAdmin:', err, err.stack)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
