<template>
  <v-row class="ma-0" justify="end">
    <v-col cols="10">
      <v-select v-model="selected" :items="items" :label="$t(path + '_choice_text_type')">
        <template #selection="{ item }"> {{ item.descrip }} ({{ item.short }}) </template>
        <template #item="{ item }"> {{ item.descrip }} ({{ item.short }}) </template>
      </v-select>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    textType: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.accounts.sentEmailsDialog.selectText.',
      selected: {},
      items: [
        {
          short: 'PLZPR',
          descrip: 'Bitte vervollständigen Sie Ihre Daten',
          htmlText:
            'Vielen Dank für Ihre Registrierung auf deservice.net  <br /> Es freut uns sehr, Sie bei uns als Fahrzeugchecker begrüßen zu dürfen. <br /> Der Auftraggeber, der sein Wunschfahrzeug checken lassen möchte, würde seinen Auftrag mit Angabe der Postleitzahl (PLZ) des Fahrzeugstandortes online stellen, daraufhin werden die Checker benachrichtigt, die diese PLZ bedienen können. <br />Sie haben noch keine PLZ und Radius hinterlassen, innerhalb dessen Sie die Fahrzeugbesichtigungsaufträge erhalten möchten. <br />Der Radius wird zwischen 25, 50 oder 100 Km gewählt. <br />Außerdem können Sie dort die Vergütung festlegen, die Sie für Ihre Dienstleistung erhalten möchten. <br />Wir empfehlen die Vergütung folgendermaßen zu stapeln: <br />Wir haben 2 Levels für Fahrzeugprüfung vorbereitet: Allgemein und Erweitert. Für jeden Level kann man zusätzlich drei Stufen der Schnelligkeit auswählen: <br />normal (innerhalb von 24 Stunden) <br />schnell (innerhalb von 4 Stunden) <br />dringend (innerhalb von 1 Stunde) <br />Insgesamt ergeben sich daraus 6 Möglichkeiten.<br />Als Basis-Vergütung (Allgemein-normal) empfehlen wir 50 bis 80 Euro. Entsprechend können Sie die Preise weiter regeln, z.B. bei Basis-Vergütung von 50 Euro: <br />Allgemein-schnell – 60 Euro <br />Allgemein-dringend – 70 Euro <br />Erweitert-normal – 60 Euro <br />Erweitert-schnell – 70 Euro <br />Erweitert-dringend – 80 Euro <br />Darüber hinaus können Sie die Anfahrtskosten für jeden Km in Cents festlegen. <br />Als Richtwert für Anfahrtskosten empfehlen wir 20 bis 60 Cents pro KM bis Fahrzeugstandort.<br />Die Einzelheiten erfahren Sie hier: <br />https://www.deservice.net/tutorials?openTutorial=registration<br />'
        },
        {
          short: 'Push',
          descrip: 'Push-Benachrichtigungen',
          htmlText:
            'Vielen Dank für Ihre Registrierung auf deservice.net  <br />Sie haben sich nach der Registrierung bei erster Anmeldung in Ihr Konto die Zulassung von Push-Benachrichtigungen abgelehnt. <br />Der Auftraggeber, der sein Wunschfahrzeug checken lassen möchte, würde seinen Auftrag mit Angabe der Postleitzahl (PLZ) des Fahrzeugstandortes online stellen, daraufhin werden die Checker benachrichtigt, die diese PLZ bedienen können. Da Sie keine Push-Nachricht bekommen können, würde es wesentlich erschweren Sie rechtzeitig über den Auftrag zu benachrichtigen. Push-Nachricht ermöglicht es mithilfe von Ton oder Vibration Sie bequem zu informieren, dass ein Auftragsangebot vorliegt. Ohne Push, um ein Auftragsangebot nicht zu verpassen, sollten Sie gelegentlich auf das Handy schauen. <br />Deshalb empfehlen wir Ihnen, die Push-Nachrichten für deservice.net zu aktivieren. <br />Falls ein spezieller Grund vorliegt, die Push-Benachrichtigungen abzulehnen, betrachten Sie unsere Empfehlung als gegenstandslos. <br />'
        },
        {
          short: 'ULP',
          descrip: 'Korrigieren Sie bitte Ihre Eingaben',
          htmlText:
            'Vielen Dank für Ihre Registrierung auf deservice.net  <br />Sie haben teilweise unlogische Preise festgelegt. <br />Für die erweiterte Fahrzeugprüfung weniger Preis festgelegt als für die allgemeine Fahrzeugprüfung. Das ist zwar gestattet, aber erscheint uns unlogisch. Falls es ein Tippfehler war, korrigieren Sie bitte Ihre Eingaben. <br />'
        },
        {
          short: 'UL(P+AK',
          descrip: 'Korrigieren Sie bitte Ihre Eingaben',
          htmlText:
            'Vielen Dank für Ihre Registrierung auf deservice.net <br />Es freut uns sehr, Sie bei uns als Fahrzeugchecker begrüßen zu dürfen. <br />Sie haben teilweise unlogische Preise festgelegt: <br />Für die erweiterte Fahrzeugprüfung weniger Preis festgelegt als für die allgemeine Fahrzeugprüfung. Das ist zwar gestattet, aber erscheint uns unlogisch. Falls es ein Tippfehler war, korrigieren Sie bitte Ihre Eingaben. <br />Wir empfehlen die Vergütung folgendermaßen zu stapeln: <br /> Wir haben 2 Levels für Fahrzeugprüfung vorbereitet: Allgemein und Erweitert. Für jeden Level kann man zusätzlich drei Stufen der Schnelligkeit auswählen: <br />normal (innerhalb von 24 Stunden) <br />schnell (innerhalb von 4 Stunden) <br />dringend (innerhalb von 1 Stunde) <br />Insgesamt ergeben sich daraus 6 Möglichkeiten. <br />Als Basis-Vergütung (Allgemein-normal) empfehlen wir 50 bis 80 Euro. Entsprechend können Sie die Preise weiter regeln, z.B. bei Basis-Vergütung von 50 Euro: <br />Allgemein-schnell – 60 Euro <br />Allgemein-dringend – 70 Euro <br />Erweitert-normal – 60 Euro <br />Erweitert-schnell – 70 Euro <br />Erweitert-dringend – 80 Euro <br />Darüber hinaus können Sie die Anfahrtskosten für jeden Km in Cents festlegen. <br />Als Richtwert für Anfahrtskosten empfehlen wir 20 bis 60 Cents pro KM bis Fahrzeugstandort. <br />Die Einzelheiten erfahren Sie hier: <br />https://www.deservice.net/tutorials?openTutorial=registration<br />'
        }
      ]
    }
  },
  watch: {
    selected: {
      deep: true,
      handler(value) {
        this.$emit('update:textType', value)
      }
    }
  }
}
</script>
