<template>
  <v-row class="ma-0" justify="end">
    <v-col cols="12">
      <v-row id="textToCopy" class="ma-0 grey lighten-4">
        <v-col cols="12" class="pa-1"> {{ dearLastName }}, </v-col>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <v-col cols="12" class="pa-1">
          <v-row id="textToCopy" class="ma-0">
            Lieber deService Nutzer, <br /><br />
            Bitte klicken Sie auf den Link, um Ihr Konto zu löschen<br /><br />
            {{ apiBaseUrl }}/api/link/closeAccount?id={{ jwtMid }}<br /><br />
          </v-row>
        </v-col>
        <v-col cols="12" class="pa-1">
          Mit freundlichen Grüßen <br />
          deService
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import { getjwtMidForRecId } from '~/helpers/methods'
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      htmlText: 'asdasdasdasdasdasd<br />https://api.deservice.net/api/link/donotdistarb?id={{ jwtMid }}<br /> '
    }
  },
  computed: {
    apiBaseUrl() {
      return process.env.API_BASE_URL
    },
    dearLastName() {
      const dear = this.item.dear
      return dear.gender === 'mr'
        ? 'Sehr geehrter Herr ' + dear.lastName
        : dear.gender === 'mrs'
        ? 'Sehr geehrte Frau ' + dear.lastName
        : dear.gender === 'jur'
        ? 'An ' + this.item.descrip
        : 'Lieber deService-Nutzer'
    },
    jwtMid() {
      return getjwtMidForRecId(this.item.recId)
    }
  }
}
</script>
