<template>
  <v-dialog v-model="localShow" width="60%" class="red">
    <v-card v-if="localShow">
      <v-row class="ma-0" justify="center" align="center" style="position: relative">
        <v-col>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_nickName') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.nickName }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_descrip') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.descrip }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_email') + ':' }}</v-col>
            <v-col cols="auto"> {{ item.email }}</v-col>
          </v-row>
          <v-row class="ma-0" justify="space-between">
            <v-col cols="auto">{{ $t(path + '_available_action') + ':' }}</v-col>
            <v-col cols="auto"> {{ $t(path + '_' + action) }}</v-col>
          </v-row>
          <v-row justify="start">
            <v-btn class="ma-4" :disabled="loading" @click="cancel()">
              {{ $t(path + '_cancel') }}
            </v-btn>
            <v-btn class="ma-4" :disabled="loading" @click="ok()">
              {{ $t(path + '_ok') }}
            </v-btn>
            <v-spacer />
            <v-icon class="ma-4" @click="copy()">mdi-content-copy</v-icon>
          </v-row>
          <email-text :item="item" />
        </v-col>
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
          :width="loading ? 4 : 0"
          style="position: absolute"
          color="des_secondary"
        />
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import EmailText from './emailText'
import { copyToClipboard } from '~/helpers/methods'

export default {
  components: {
    EmailText
  },
  props: {
    show: {
      type: Boolean,
      required: true
    },
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.accounts.revokeDialog.',
      loading: false
    }
  },
  computed: {
    localShow: {
      get() {
        return this.show
      },
      set(value) {
        this.$emit('update:show', value)
      }
    },
    action() {
      return this.item.interacted ? 'close' : 'erase'
    }
  },
  methods: {
    copy() {
      copyToClipboard('textToCopy', document, window)
    },
    cancel() {
      this.localShow = false
    },
    async ok() {
      this.loading = true
      try {
        const result = await this.$axios.post(
          '/api/admin/accountAdminData',
          {
            recId: this.item.adminData.recId,
            accountId: this.item.recId,
            emailsSent: (this.item.adminData.emailsSent + ' ' + this.action).trim()
          },
          { headers: { token: process.env.DES_BACK_TOKEN, inner: this.$inner } }
        )
        const options = {
          recId: result.data[0].recId,
          emailsSent: result.data[0].emailsSent
        }
        this.$emit('update-admin-data', options)
        this.localShow = false
      } catch (err) {
        console.error('Error at revoke dialog:', err, err.stack)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
