<template>
  <v-dialog v-model="localShow" width="80%" class="red">
    <v-card v-if="localShow">
      <v-row class="ma-0" justify="center" align="center" style="position: relative">
        <v-col v-if="item.stage" class="pb-0" cols="12">
          <stage-reader :stage="item.stage" />
        </v-col>
        <v-col class="pb-0" cols="12">
          <b>{{ $t(path + '_orderer') }}</b>
        </v-col>
        <v-col cols="12">
          <v-row class="ma-0">
            <v-col cols="1">
              <v-text-field dense hide-details :value="item.orderId" outlined readonly label="orderId" />
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                hide-details
                :value="item.ordererNickName"
                outlined
                readonly
                :label="$t(path + '_nickName')"
              />
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                hide-details
                :value="item.ordererEmail"
                outlined
                readonly
                :label="$t(path + '_email')"
              />
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                hide-details
                :value="
                  (item.ordererPhoneNumber || '') +
                  (item.ordererCalledPhoneNumber ? ' ;  ' + item.ordererCalledPhoneNumber : '')
                "
                outlined
                readonly
                :label="$t(path + '_phones')"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col class="pb-0" cols="12">
          <b>{{ $t(path + '_tester') }}</b>
        </v-col>
        <v-col cols="12">
          <v-row class="ma-0">
            <v-col cols="1">
              <v-text-field dense hide-details :value="item.recId" outlined readonly label="responseId" />
            </v-col>
            <v-col cols="3">
              <v-text-field
                dense
                hide-details
                :value="item.testerNickName"
                outlined
                readonly
                :label="$t(path + '_nickName')"
              />
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                hide-details
                :value="item.testerEmail"
                outlined
                readonly
                :label="$t(path + '_email')"
              />
            </v-col>
            <v-col cols="4">
              <v-text-field
                dense
                hide-details
                :value="
                  (item.testerPhoneNumber || '') +
                  (item.testerCalledPhoneNumber ? ' ;  ' + item.testerCalledPhoneNumber : '')
                "
                outlined
                readonly
                :label="$t(path + '_phones')"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col class="pb-0" cols="12">
          <b>{{ $t(path + '_order') }}</b>
        </v-col>
        <v-col cols="12">
          <v-row class="ma-0">
            <v-col cols="4">
              <v-text-field dense hide-details :value="item.level" outlined readonly :label="$t(path + '_level')" />
            </v-col>
            <v-col cols="4">
              <v-text-field dense hide-details :value="item.speed" outlined readonly :label="$t(path + '_speed')" />
            </v-col>
            <v-col cols="1">
              <v-text-field dense hide-details :value="item.plz" outlined readonly :label="$t(path + '_plz')" />
            </v-col>
            <v-col cols="1">
              <v-text-field dense hide-details :value="item.distance" outlined readonly :label="$t(path + '_km')" />
            </v-col>
            <v-col cols="2">
              <v-text-field
                dense
                hide-details
                :value="item.stage % 10 === 2 ? item.newPrice + ' (' + item.price + ')' : item.price"
                outlined
                readonly
                prefix="€"
                :label="$t(path + '_price')"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col class="pb-0" cols="12">
          <b>{{ $t(path + '_feedback_reason') }}</b>
        </v-col>
        <v-col cols="12">
          <v-row class="ma-0" justify="end">
            <v-col class="py-0" cols="12">
              <v-rating dense :value="item.stars" />
            </v-col>
            <v-col cols="12">
              <v-textarea
                rows="1"
                auto-grow
                dense
                hide-details
                :value="item.feedback"
                outlined
                readonly
                :label="item.ordererNickName + ' ' + $t(path + '_feedback')"
              />
            </v-col>
            <v-col cols="11">
              <v-textarea
                rows="1"
                auto-grow
                dense
                hide-details
                :value="item.reason"
                outlined
                readonly
                :label="item.testerNickName + ' ' + $t(path + '_reason')"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-progress-circular
          v-if="loading"
          :indeterminate="loading"
          :width="loading ? 4 : 0"
          style="position: absolute"
          color="des_secondary"
        />
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import StageReader from './stageReader'
export default {
  components: {
    StageReader
  },
  props: {
    show: {
      type: Boolean,
      required: true
    },
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.orders.viewDialog.',
      itemDetailed: {},
      loading: true
    }
  },
  computed: {
    localShow: {
      get() {
        return this.show
      },
      set(value) {
        this.$emit('update:show', value)
      }
    }
  },
  mounted() {
    setTimeout(() => this.updateFromDB())
  },
  methods: {
    async updateFromDB() {
      this.loading = true
      try {
        const query = `?recId=${this.item.recId}`
        const result = await this.$axios.get('/api/admin/order' + query, {
          headers: { token: process.env.DES_BACK_TOKEN }
        })
        this.itemDetailed = result.data[0]
      } catch (err) {
        console.error('error at orders:', err, err.stack)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>