<template>
  <v-row class="ma-0" justify="end" style="font-size: 1.2">
    <b>{{ title }}</b>
  </v-row>
</template>

<script>
export default {
  props: {
    stage: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      path: 'pages.orders.viewDialog.stageReader.',
      stageDescrips: {
        0: '_no_offered',
        1: '_offered',
        3: '_responsed',
        7: '_choiced',
        11: '_asked_prolong',
        12: '_asked_cancel',
        21: '_reselled',
        22: '_canceled',
        23: '_failed',
        27: '_filled',
        32: '_canceled_no_money',
        33: '_failed_no_money',
        41: '_reselled_invoiced',
        42: '_canceled_invoiced',
        43: '_failed_invoiced',
        47: '_filled_invoiced',
        51: '_reselled_no_invoice',
        52: '_cancel_no_invoice',
        53: '_failed_no_invoice',
        57: '_filled_no_invoice',
        61: '_asked_prolong_annulled',
        62: '_asked_cancel_annulled',
        67: '_choiced_annulled'
      }
    }
  },
  computed: {
    title() {
      return this.$t(this.path + this.stageDescrips[this.stage])
    }
  }
}
</script>